@page "/SamplePages/ToPage"
<h3>To Page</h3>

<header>
    <p>
        <label>
            First Name : @employee.FirstName 
        </label>
    </p>
    <p>
        <label>
            Last Name : @employee.LastName
        </label>
    </p>
    <p>
        <label>
            Age : @employee.Age
        </label>
    </p>
</header>
